body {
    background-color: pink;
}

.cima {
    

    width: 100vh;
    height: 70px;

    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
}

.lado{
    width: 180px;
    height: 100vw;

    background-color: rgb(245, 243, 222);
    border: 5px solid black;
    border-radius: 20px;
}

.quadrado div{
    width: 30px;
    height: 30px;

    background-color: yellow;
    border: 3px solid black;
    border-radius: 8px;
}

.retangulo div{
    width: 170px;
    height: 50px;

    background-color: aqua;
    border: 3px solid black;
    border-radius: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 90vw;
    height: 230px;

    background-color: white;
    border: 5px solid black;
    border-radius: 20px;

    margin: 20px;
}

.container div{
    width: 180px;
    height: 180px;
    
    background-color: magenta;
    border: 5px solid black;
    border-radius: 20px;

}